{
    "presets": [ "@babel/preset-typescript" ],
    "targets": {
        "edge": "17",
        "firefox": "60",
        "chrome": "67",
        "safari": "11.1"
    },
    "comments": false,
    "ignore": [
        "node_modules",
        "_deprecated",
        "_notes",
        "_temp",
        "_temp",
        ".devcontainer",
        "test",
        "adapters",
    ]
    
}