.App {
  text-align: center;
}

*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  /* background: #000; */
  /* color: #fff; */
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 1rem;
}

.nestore-container{
  background: #223;
  border-radius: .5rem;
  margin: .5rem;
  width:100%;
  overflow: hidden;
}
.nestore-container button{
  margin: .25rem;
  padding: .2rem .5rem;
  background: #445;
  color: #fff;
  border: 0px;
  border-radius: .25rem;
  cursor: pointer;
}
.nestore-container button:hover{
  background: #667;
}

.nestore-container p{
  margin:.5rem
}
.nestore-container pre{
  font-size:.8rem;
  width: calc(100vw - 4rem);
  text-align: left;
  background: #000;
  color: #ccc;
  margin: 1rem;
  padding: .5rem;
}