.App {
  text-align: center;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nestore-container{
  background: #223;
  border-radius: .5rem;
  margin: .5rem;
  width:100%;
  overflow: hidden;
}
.nestore-container button{
  margin: .25rem;
  padding: .2rem .5rem;
  background: #445;
  color: #fff;
  border: 0px;
  border-radius: .25rem;
  cursor: pointer;
}
.nestore-container button:hover{
  background: #667;
}

.nestore-container p{
  margin:.5rem
}
.nestore-container pre{
  font-size:.8rem;
  width: calc(100vw - 4rem);
  text-align: left;
  background: #000;
  color: #ccc;
  margin: 1rem;
  padding: .5rem;
}